<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
    <h1>These are the signs pointing to a <span class="dropdown legendary d4">Democratic<div class="dropdown-content r4"><a href="http://static.startribune.com/news/projects-staging/all/20181027-redwave/">Republican</a></div></span> wave in Minnesota's midterm election</h1>
    <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
    <!-- share -->
  </div>
    <section class="container-lg">
      
      <p>Republicans have held a steady grip on congressional and state-level power for the past decade, and since 2016 have occupied the White House.</p>
        
      <p>But despite years of this lopsided balance of power, several early signs point to the possibility of a “blue wave” that could sweep Democrats back into power across the country this November.</p> 

      <p>Could such a phenomenon wash over Minnesota this election cycle?</p>

      <p>Examining previous midterm backlashes, along with demographic and polling trends, suggests that the answer could be yes. And if those indicators hold out, the DFL might have many reasons to celebrate on Election Night.</p>
    </section>
    
      <div class="rule"></div>
      <section class="container-lg">
      <h2 class="chartTitle">Democrats lead the generic ballot</h2>

      <p>On a national level, <a href="https://projects.fivethirtyeight.com/congress-generic-ballot-polls/">FiveThirtyEight's aggregated estimate of generic congressional ballot results</a> give <span class="d4 legendary">Democrats</span> an edge over <span class="r4 legendary">Republicans</span> among likely voters headed into the November midterm.</p>

      <p>As of Oct. 16, 2018, registered and likely voters preferred Democrats over Republicans by about 8 points.</p>
     </section>

    <div class="slide" id="approval">
      <div class="chart" id="chartBallot"></div>
      
      <div class="byline">Source: <a href="https://projects.fivethirtyeight.com/congress-generic-ballot-polls/" target="new_">FiveThirtyEight</a> | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
    </div>

    <section class="container-lg">
        <p>Historically, the generic ballot has been fairly predictive of outcomes in midterm elections, and Democrats at this time have an edge similar to the one Republicans had in their 2010 wave.</p>
        <p>The margins have narrowed over the months though, so time will tell if Democrats can maintain their momentum in these kinds of polls.</p>
      </section>

    <div class="rule"></div>
    <section class="container-lg">
      <h2 class="chartTitle">Polls point to strong up-ballot Democratic tickets</h2>

      <p><span class="d4 legendary">Democratic</span> candidates lead <span class="r4 legendary">Republicans</span> and those who are  <span class="purple3 legendary">undecided or voting third party</span> in Minnesota's biggest statewide races, <a href="http://www.startribune.com/minnesota-senate-poll-star-tribune-mpr-news-tina-smith-karin-housley-amy-klobuchar-jim-newberger/493290421/">according to a Star Tribune Minnesota Poll from September 2018</a>.</p>

    </section>

  
      <div class="slide" id="popular">
          <div class="chatter"></div>
          
          <div class="chart" id="klobuChart"></div>
          
          <div class="byline">Source: Star Tribune Minnesota Poll | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
      </div>

      <section class="container-lg">
        <p>Additonally, a <a href="https://www.nbcnews.com/politics/first-read/democrats-big-minnesota-trump-approval-sags-n918681">recent NBC News/Marist poll of likely voters</a> showed similar trends with Sen. Amy Klobuchar leading (D) leading Jim Newburger (R) for the U.S. Senate race, Sen. Tina Smith (D) leading Karin Housley (R) in U.S. Senate special election and Tim Walz (D) leading Jeff Johnson (R) in the gubernatorial contest.</p>

        <p>Aside from providing momentum for DFL candidates on top of the ballot, winning big statewide races tends to help the party's candidates further down the ballot, creating a coattails effect.</p>
      </section>

      <div class="rule"></div>
    <section class="container-lg">
      <h2 class="chartTitle">Democrats lead the "enthusiasm gap"</h2>
      <p>Since their defeat in 2016, Democrats have been gradually regaining ground in off-year and special elections across the country, including major upset victories in Republican areas once thought to be secure. This has signaled an increase in Democratic energy and voter engagement.</p>

      <p>While Minnesota hasn't seen a special election the last couple years, past midterm election results reveal some ways to measure voter enthusiasm.</p>

      <p>Most Minnesota congressional districts seem some kind of bump for the opposition party during midterm elections, which is often accompanied by a boost in voter turnout, something FiveThirtyEight refers to as the "enthusiasm gap."</p>
    </section>

    <div class="slide" id="swing">
        <div class="chatter"></div>
        
        <div class="chart" id="chartGap">
        
        <div class="columnHead"><div class="column"></div><div class="column r4">Bush 2002</div><div class="column r4">Bush 2006</div><div class="column d4">Obama 2010</div><div class="column d4">Obama 2014</div></div>
        
        <div class="column">District</div><div class="column"><div>turnout</div><div>swing</div></div><div class="column"><div>turnout</div><div>swing</div></div><div class="column"><div>turnout</div><div>swing</div></div><div class="column"><div>turnout</div><div>swing</div></div>
        
        <div class="column">MN1</div>
        <div class="column"><div class="pct">94%</div><div class="swing d4">D+12</div></div>
        <div class="column"><div class="pct">80%</div><div class="swing d4">D+4</div></div>
        <div class="column"><div class="pct">94%</div><div class="swing d4">D+3</div></div>
        <div class="column"><div class="pct">94%</div><div class="swing d4">D+3</div></div>
        
        <div class="column">MN2</div>
        <div class="column"><div class="pct">99%</div><div class="swing r4">R+1</div></div>
        <div class="column"><div class="pct">78%</div><div class="swing r4">R+2</div></div>
        <div class="column"><div class="pct">99%</div><div class="swing r4">R+13</div></div>
        <div class="column"><div class="pct">99%</div><div class="swing r4">R+7</div></div>
        
        <div class="column">MN3</div>
        <div class="column"><div class="pct">89%</div><div class="swing r4">R+20</div></div>
        <div class="column"><div class="pct">77%</div><div class="swing r4">R+13</div></div>
        <div class="column"><div class="pct">89%</div><div class="swing r4">R+13</div></div>
        <div class="column"><div class="pct">89%</div><div class="swing r4">R+13</div></div>
        
        <div class="column">MN4</div>
        <div class="column"><div class="pct">99%</div><div class="swing d4">D+4</div></div>
        <div class="column"><div class="pct">77%</div><div class="swing d4">D+8</div></div>
        <div class="column"><div class="pct">99%</div><div class="swing d4">R+0</div></div>
        <div class="column"><div class="pct">99%</div><div class="swing d4">D+3</div></div>
        
        <div class="column">MN5</div>
        <div class="column"><div class="pct">98%</div><div class="swing d4">D+3</div></div>
        <div class="column"><div class="pct">75%</div><div class="swing d4">D+7</div></div>
        <div class="column"><div class="pct">98%</div><div class="swing r4">R+0</div></div>
        <div class="column"><div class="pct">98%</div><div class="swing r4">R+0</div></div>
        
        <div class="column">MN6</div>
        <div class="column"><div class="pct">81%</div><div class="swing r4">R+7</div></div>
        <div class="column"><div class="pct">79%</div><div class="swing d4">D+7</div></div>
        <div class="column"><div class="pct">81%</div><div class="swing d4">D+1</div></div>
        <div class="column"><div class="pct">81%</div><div class="swing d4">D+1</div></div>
        
        <div class="column">MN7</div>
        <div class="column"><div class="pct">96%</div><div class="swing d4">D+20</div></div>
        <div class="column"><div class="pct">80%</div><div class="swing d4">D+26</div></div>
        <div class="column"><div class="pct">96%</div><div class="swing d4">D+13</div></div>
        <div class="column"><div class="pct">96%</div><div class="swing d4">D+8</div></div>
        
        <div class="column">MN8</div>
        <div class="column"><div class="pct">92%</div><div class="swing d4">D+13</div></div>
        <div class="column"><div class="pct">78%</div><div class="swing d4">D+12</div></div>
        <div class="column"><div class="pct">92%</div><div class="swing r4">R+3</div></div>
        <div class="column"><div class="pct">92%</div><div class="swing r4">R+1</div></div>
        </div>
        
        <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <section class="container-lg">
        <p>Additionally, maps of Minnesota precincts — shaded by whether the <span class='d4 legendary'>DFL</span> or <span class='r4 legendary'>GOP</span> saw an increased vote share compared to the the previous presidential election — show what these kinds of waves have looked like in the past.</p>
    </section>

    <div class="slide" id="region">
        <div class="chatter"></div>
        
        <div class="chart" id="swingChart">
        
        <div class="column">
          <img src="img/2002_cd.png" />
          <div class="label">2002</div>
        </div>
        <div class="column">
          <img src="img/2006_cd.png" />
          <div class="label">2006</div>
        </div>
        <div class="column">
          <img src="img/2010_cd.png" />
          <div class="label">2010</div>
        </div>
        <div class="column">
          <img src="img/2014_cd.png" />
          <div class="label">2014</div>
        </div>
    </div>
    <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>

  </div>

  <section class="container-lg">
      <p>Precincts have shifted in favor of the minority party in the past four midterm elections, signaling greater voter enthusiasm across the state.</p>
      <p>Whether Democrats can sustain this momentum and enthusiasm remains to be seen, as well as whether Republicans can match or surpass that kind of energy to halt the effects of a midterm backlash.</p>
    </section>

    <div class="rule"></div>
    <section class="container-lg">
      <h2 class="chartTitle">Low presidential popularity</h2>
      <p>While President Trump isn't on this year's ballot, in many ways midterm elections are referudums on presidential job performance.</p>
      <p>Because of this, the president's party usually loses seats on state and federal levels, and how many seems partially tied to approval ratings. Presidents with an approval rating under 50 percent usually suffer the greatest midterm losses.</p>
    </section>

    <div class="slide" id="approval">
        <div class="chatter"></div>
        
        <div class="chart" id="chartApproval">
        
        <div class="columnHead"><div class="column"></div><div class="column">Approval</div><div class="column chartCol">US House</div><div class="column chartCol">MN House</div></div>
        
        <div id="approvalSpill"></div>
        
        </div>
        
        <div class="byline">Source: Dave Leip's Atlas of U.S. Presidential Elections, Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <section class="container-lg">
      <p>As of the last <a href="http://www.startribune.com/minnesota-senate-poll-star-tribune-mpr-news-tina-smith-karin-housley-amy-klobuchar-jim-newberger/493635631/">Star Tribune Minnesota Poll from September 2018</a>, Trump's approval rating in Minnesota was 39 percent, a three-point decline from when the poll was conducted in spring 2017.</p>

      <p>Nationally, <a href="https://projects.fivethirtyeight.com/trump-approval-ratings/" target="new_">FiveThirtyEight's aggregate of Trump's popularity polls</a> places him around 42 percent.</p>
    </section>
</div>



