<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
      <h1>These are the signs pointing to <span class="dropdown bluedrop">Democratic<div class="dropdown-content reddrop"><a href="http://static.startribune.com/news/projects-staging/all/20181027-redwave/">Republican</a></div></span> wins in Minnesota's midterm election</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
      <div class="article-dateline"><time pubdate datetime="2018-10-27T16:00:00">November 1, 2018</time></div>
      <p></p>
      <!-- share -->
  </div>
  <section class="container-lg">
      <p>Despite Republicans holding the reigns of both houses of Congress, the White House and many state governments, several early signs point to the possibility of a "blue wave" that could sweep Democrats back into power across the country this election cycle.</p>

      <p>Minnesota could be primed for such a phenonemon at the ballot box next week, as suggested by historical midterm trends and recent polling in the state's biggest and hottest races.</p>
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Democrats lead the generic ballot</h2>

      <p>On a national level, <a href="https://projects.fivethirtyeight.com/congress-generic-ballot-polls/">aggregated estimates of the generic Congressional ballot</a> – which simply asks people which party they would prefer to vote for – has consistently given <span class="d4 legendary">Democrats</span> an advantage over <span class="r3 legendary">Republicans</span> among likely voters for months.</p>

      <p>As of Oct. 30, 2018, registered and likely voters preferred Democrats over Republicans by about 8 points.</p>
  </section>

  <div class="slide" id="approval">
      <div class="chart" id="chartBallot"></div>

      <div class="byline">Source: <a href="https://projects.fivethirtyeight.com/congress-generic-ballot-polls/" target="new_">FiveThirtyEight</a> | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
  </div>

  <section class="container-lg">
      <p>Historically, the generic ballot has been fairly predictive of outcomes in midterm elections, and Democrats at this time have an edge similar to the one Republicans had in their 2010 wave.</p>
      
      <p>Time will tell if Democrats can maintain this momentum and how accurate these polls may be this cycle.</p>
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Polls point to strong up-ballot Democratic tickets</h2>

      <p><span class="d4 legendary">Democratic</span> candidates lead <span class="r4 legendary">Republicans</span> and those who are <span class="purple3 legendary">undecided or voting third party</span> in most of Minnesota's biggest statewide races, <a href="http://www.startribune.com/the-poll-numbers-minnesota-senate-race/498049881/">according to a Star Tribune Minnesota Poll from October 2018</a>.</p>

  </section>

  <div class="slide" id="popular">
      <div class="chatter"></div>

      <div class="chart" id="klobuChart"></div>

      <div class="byline">Source: Star Tribune Minnesota Poll | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
  </div>

  <section class="container-lg">
      <p>Additonally, a <a href="https://www.nbcnews.com/politics/first-read/democrats-big-minnesota-trump-approval-sags-n918681">recent NBC News/Marist poll of likely voters</a> showed similar trends with Sen. Amy Klobuchar leading (DFL) leading Jim Newburger (R) for the U.S. Senate race, Sen. Tina Smith (DFL) leading Karin Housley (R) in U.S. Senate special election and Tim Walz (DFL) leading Jeff Johnson (R) in the gubernatorial contest.</p>

      <p>Winning big statewide races tends to provide momentum for candidates further down the ballot, generating a coattails effect in Congressional and legislative contests.</p>
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Democratic enthusiasm may be stronger</h2>
      <p>For the past couple years, Democrats have gradually regained ground in off-year and special elections across the country, including major upset victories in Republican areas once thought to be secure. This has signaled an increase in Democratic energy and voter engagement.</p>

      <p>While Minnesota hasn't had a notable special election the last couple years, previous midterm results show what voter enthusiasm bumps look like on Congressional districts.</p>

      <p>Maps of Minnesota precincts — shaded by whether the <span class='d4 legendary'>DFL</span> or <span class='r3 legendary'>GOP</span> saw an increased vote share compared to the the previous presidential election — reveal what these kinds of waves have looked like in the past.</p>
  </section>

  <div class="slide" id="swing">
      <div class="chatter"></div>

      <div class="chart" id="chartGap">

          <div class="columnHead">
              <!-- <div class="column"></div> -->
              <div class="column r3">Bush 2002</div>
              <div class="column r3">Bush 2006</div>
              <div class="column">
                <img src="img/2002_cd.png" />
            </div>
            <div class="column">
                <img src="img/2006_cd.png" />
            </div>

              <div class="column d4">Obama 2010</div>
              <div class="column d4">Obama 2014</div>

              <div class="column">
                <img src="img/2010_cd.png" />
            </div>
            <div class="column">
                <img src="img/2014_cd.png" />
            </div>
          </div>

      </div>

      <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
  </div>

  <section class="container-lg">
    <p>Significant numbers of precincts have seen increased vote shares for the minority party in three of the past four midterm elections — with the election following the September 11, 2001 terrorist attacks being the sole exception.</p>

    <p>But that 2002 election was also one of the few in American history where the sitting president's party didn't lose ground in Congress, making it an outlier compared to others years. The 2018 midterm appears to be following the usual patterns.</p>
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Low presidential popularity</h2>
      <p>While President Trump isn't on this year's ballot, in many ways midterm elections are referudums on presidential job performance.</p>

      <p>Because of this, the president's party usually loses seats on state and federal levels, and how many seems partially tied to approval ratings. Presidents with an approval rating under 50 percent tend to suffer the greatest midterm losses.</p>
  </section>

  <div class="slide" id="approval">
      <div class="chatter"></div>

      <div class="chart" id="chartApproval">

          <div class="columnHead">
              <div class="column"></div>
              <div class="column">Approval</div>
              <div class="column chartCol">US House</div>
              <div class="column chartCol">MN House</div>
          </div>

          <div id="approvalSpill"></div>

      </div>

      <div class="byline">Source: Dave Leip's Atlas of U.S. Presidential Elections, Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
  </div>

  <section class="container-lg">
      <p>As of the <a href="http://www.startribune.com/minnesota-senate-poll-star-tribune-mpr-news-tina-smith-karin-housley-amy-klobuchar-jim-newberger/493635631/">Star Tribune/MPR News Minnesota Poll from September 2018</a>, Trump's approval rating in Minnesota was 39 percent, while <a href="https://projects.fivethirtyeight.com/trump-approval-ratings/" target="new_">national averages</a> place him around 42 percent.</p>
  </section>
</div>